
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">

<a href="http://localhost:5000/web/manager"><button>Back</button></a>

<title>Area Reports</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
<h1>Area Reports</h1>

{% if result %}
{% for obj in result %}
    <h1>{{obj['area']}}</h1>

    </br>

    <div>The diagnoses in this area are below:</div>

    </br>

    
    <table border = "1">
        <tr>
            <th>Diagnosis</th>
            <th>Number of patients</th>
        </tr>
        {%for diagnosis in obj['diagnosis_count'] %}
        <tr>
            <td>{{diagnosis}}</td>
            <td>{{obj['diagnosis_count'][diagnosis]}}</td>
        </tr>
        {%endfor%}
    </table>

    </br>

    <div>The total number of patients is {{obj['total']}}.</div>
    
{%endfor%}
{%endif%} <!-- don't put space between words -->
</body>
</html>