
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<a href="http://localhost:5000/web/manager"><button>Back</button></a>

<title>Welcome Manager</title>
</head>
<body>
	<h1>Report Information</h1>
	{% if result %}
	
	<table border = "1">
		<tr>
			<th>Report ID</th>
			<th>Patient ID</th>
			<th>Date</th>
			<th>Symptoms</th>
            <th>Diagnosis</th>
		</tr>
		{% for rep in result %}
			<tr>
				<td>{{rep['report_id']}}</td>
				<td>{{rep.patient_id}}</td>
				<td>{{rep.date}}</td>
				<td>{{rep.symptoms}}</td>
				<td>{{rep.diagnosis}}</td>
				<td><button method="DELETE" action="./manager/reports/delete">Delete</button></td>
				<td><button method="POST" action="./manager/reports/edit">Edit</button></td>
			</tr>
		{%endfor%}
		<tr>
			<td id="count" colspan="3">{{result|count}} reports Fetched</td>
		</tr>
	</table>
	<form id="rep-reg-form" method="POST" action="/web/manager/reports/add-report/{{result[0]['patient_id']}}">  
	<table>
		<tr>
			<td><input name="date" placeholder="Date" id="date"></td>
			<td><input name="diagnosis" placeholder="Diagnosis" id="diagnosis"></td>
            <!-- <td><input name="patient_id" placeholder="Patient ID" id="patient_id"></td> -->
			<td><input name="mode" type="hidden" value="web"></td>
			<td><input id="add-rep" type="submit" value="Add"></td>
		</tr>
	</table>
	</form>
	{%endif%} <!-- don't put space between words -->
</body>
</html>