<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<a href="http://localhost:5000/web/"><button>Back</button></a>

<title>Patient Information</title>
</head>
<body>
	<h1>Patient Information</h1>
	{% if result %}
	
	<table border = "1">
		<tr>
			<th>Patient ID</th>
			<th>Name</th>
            <th>Gender</th>
            <th>Date of Birth</th>
            <th>Area</th>
            <th>Phone Number</th>
		</tr>
		{% for pat in result %}
			<tr>
				<td>{{pat['patient_id']}}</td>
				<td>{{pat.name}}</td>
                <td>{{pat.gender}}</td>
                <td>{{pat.date_of_birth}}</td>
                <td>{{pat.area}}</td>
                <td>{{pat.phone_no}}</td>
			</tr>
		{%endfor%}
		<tr>
			<td id="count" colspan="3">{{result|count}} : Patients Fetched</td>
		</tr>
	</table>
	<form id="pat-reg-form" method="POST" action="./patients/register">
	<table>
		<tr>
			<td><input name="name" placeholder="Name" id="name"></td>
            <td><input name="gender" placeholder="Gender" id="gender"></td>
            <td><input name="date_of_birth" placeholder="Date of Birth" id="date_of_birth"></td>
            <td><input name="area" placeholder="Area" id="area"></td>
            <td><input name="phone_no" placeholder="Phone Number" id="phone_no"></td>
			<td><input name="mode" type="hidden" value="web"></td>
			<td><input id="add-pat" type="submit" value="Add"></td>
		</tr>
	</table>
	</form>
	{%endif%} <!-- don't put space between words -->
</body>
</html>